[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./django-http-polling/config/*,
       ./django-http-polling/wsgi.py,
       *__init__*
